@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital@0;1&family=Inter:wght@400;500&family=Lora:ital,wght@0,700;1,700&display=swap');

html,
body {
    font-family: 'Inter', sans-serif;
}

pre,
code {
    font-family: 'DM Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
}